.persons_list{
    background: transparent;
}
.persons_list .webix_list_item {
    background: white;
    margin-right: 20px;
    border-left: 3px solid #1ca1c1;
}
.persons_list .webix_list_item.webix_selected {
    background: #EDF4F9;
    border-left: 3px solid #1ca1c1;
}

.webix_dtable_colrow{
    background-color: #EDF4F9 !important;
    font-weight: 500;
}

.wbx_name {
    font-weight: 500;
    color: #475466;
}
.wbx_tag {
    padding: 2px 8px;
    margin-right: 10px;
    background: #e9ebf2;
    border-radius: 70px;
    color: #475466;
}

.wbx_info_template .wbx_name{
    text-align: center;
    margin-top: 15px;
}

.wbx_info_template .wbx_photo{
    margin: 40px 0 0 90px;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    background-color: #666;
}
.wbx_info_template .wbx_photo img {
    border-radius: 90px;
}
